<nav class="container" id="nav-menu">
    <button 
        class="toggle-menu-mobile" 
        id="menu-mobile-button" 
        aria-label="menu" 
        aria-controls="nav-menu"
        aria-expanded="false"
    >
        <i class="icon-menu-toggle"></i>
    </button>


    <ul class="menu-options-list">
        <a [routerLink]="['/']">
            <app-menu-option iconName="ph-coffee" menuOptionName="Home"></app-menu-option>
        </a>

        <a [routerLink]="['/favorites']">
            <app-menu-option iconName="ph-heart" menuOptionName="Favorites"></app-menu-option>
        </a>    
        
        <a [routerLink]="['/cart']">
            <app-menu-option iconName="ph-bold ph-shopping-cart" menuOptionName="Cart"></app-menu-option>
        </a>

        @if (!userLogged) {
            <a [routerLink]="['/auth/login']">
                <app-menu-option iconName="ph-user" menuOptionName="Login"></app-menu-option>
            </a> 

            <a [routerLink]="['/auth/register']">
                <app-menu-option iconName="ph-user-plus" menuOptionName="Register"></app-menu-option>
            </a>
        } @else {
            <app-menu-option iconName="ph-sign-out" menuOptionName="Logout" (click)="handleLogoutUser()"></app-menu-option>
        }
    </ul>
</nav>
